@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	padding: 0px;
	font-family: "Comic Sans MS",cursive;
}
td{
	height:32px;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #999;
	text-decoration: none;
}
.gray_title{
	background-color:#ccc;
}
.gray{
	background-color:#ccc;
	border-radius: 10px;
}
.big_button{
	width: 100px;
	height: 50px;
	border-radius: 15px;
}
.button{
	width: 50px;
	height: 25px;
	border-radius: 20px;
}
.select_option{
	width: 170px;
}